@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Ubuntu:wght@300;400;500&display=swap');

*{
    font-family: 'Prompt', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(30, 29, 29);
    color: white;
}